@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Dobrodošli</h1>
    <p> <img width="962" height="463" src="https://www.iracommerce.hr/images/thumbs/0003054_58241de2158ddeb9d39a.jpeg" />  </p>
</div>
