@{
    ViewData["Title"] = "O nama";
}
<h1>@ViewData["Title"]</h1>

<p>Adresa: Trg slobode 7</p>
<p>Sve naše cvjetne kreacije oblikovane su s posebnom pažnjom koristeći samo najbolje dostupno svježe cvijeće.</p>
<p>Kontakt: 035/123-456</p>
